<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="theme-color" content="#ffffff" />
        <link rel="apple-touch-icon" href="/favicon.png" sizes="256x256" />
        <link rel="mask-icon" href="/favicon.png" color="#FFFFFF" />
        <link rel="icon" href="/favicon.png" />
        <title>MyDICT</title>
    </head>
    <body>
        <div id="app"></div>
        <script type="module" src="/src/main.js"></script>
    </body>
</html>
